.cadastroForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.teste{
    border-radius: 11px;
    padding-right: 105px;
    background-color: yellow;
    position: relative;
    margin: 10px;
    /* top: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;

}

.formLogin{
    width: 376px;
}

#fields_nome{
    margin-bottom: 10px;
}

#fields_email{
    margin-bottom: 10px;
}

#fields_tipo{
    margin-bottom: 10px;
}

#fields_button{
    margin-bottom: 10px;
}

#btn_cadastrar{
    width: 376px;
}